<% unless @error %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
<%= erb :_interval_filter, :layout => false unless @interval_filters.empty? %>

<ul class="nav pills nav-tabs" style="margin-bottom: 0px;">
  <% @dashboard.graphs.each do |graphs| %>
	<li class="minipills"><a href="#<%= u graphs[:graphite][:title] %>"><%= graphs[:graphite][:title] %></a></li>
  <% end %>	
</ul>

<div class="row">
    <table>
    <% row = 1 %>
    <% grouped_graphs = @dashboard.graphs.in_groups_of(@graph_columns) %>
    <% grouped_graphs.each do |graphs| %>
        <tr>
        <% graphs.each do |graph| %>
            <% i = grouped_graphs.rindex(graphs) * @graph_columns + graphs.rindex(graph) %>
            <td>
            <% if graph %>
                <% if graph[:graphite][:description] %>
                    <a href='<%= [@prefix, params[:category], @params[:dash], 'details', graph[:name]].join "/" %>'>
                    <img src='<%= [@top_level[@params[:category]].graphite_render, graph[:graphite][:url]].join "?" %>' rel="<%= row == 1 ? 'popover-below' : 'popover-above' %>" title="<%= graph[:graphite][:title] %>" data-content="<%= graph[:graphite][:description] %>"></a>
                <% else %>
                    <a href='<%= [@prefix, params[:category], @params[:dash], 'details', graph[:name]].join "/" %>'>
                    <img src='<%= [@top_level[@params[:category]].graphite_render, graph[:graphite][:url]].join "?" %>'></a>
                <% end %>
			  <br />
			  <a href='<%= [@prefix, params[:category], @params[:dash], graph[:name]].join "/" %>'>Link via GDash</a>
            <% end %>
            </td>
        <% end %>
        </tr>
    <% row += 1 %>
    <% end %>
    </table>
</div>
<script>
    $(function () {
      $("img[rel=popover-above]")
        .popover({
          placement: "above", delayIn: 1000
        })
    })

    $(function () {
      $("img[rel=popover-below]")
        .popover({
          placement: "below", delayIn: 1000
        })
    })
</script>
<% end %>
