<% unless @error %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>

<div class="row">
<table class="table table-bordered">
<tr><td>
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Time Range
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
	<% baseurl = @params[:category] + "/" + @params[:dash] + "/" %>
      <li>
        <a href="/<%=baseurl%>from/-1hour">1 hour</a>
      </li>
      <li>
        <a href="/<%=baseurl%>from/-8hour">8 hours</a>
      </li>
      <li>
        <a href="/<%=baseurl%>from/-1day">1 day</a>
      </li>
      <li>
        <a href="/<%=baseurl%>from/-3day">3 days</a>
      </li>
      <li>
        <a href="/<%=baseurl%>from/-7day">1 week</a>
      </li>
      <li>
        <a href="/<%=baseurl%>from/-1month">1 month</a>
      </li>
  </ul>
</div>
</tr></td>

    <% row = 1 %>
    <% @dashboard.graphs.in_groups_of(@graph_columns) do |graphs| %>

        <tr>
        <% graphs.each do |graph| %>
            <td>
            <% if graph %>
                <% graph[:graphite][@key] = @value unless @key.nil? %>
                <% if graph[:graphite][:description] %>
                    <img src='<%= [@top_level[@params[:category]].graphite_render, graph[:graphite][:url]].join "?" %>' rel="<%= row == 1 ? 'popover-below' : 'popover-above' %>" data-original-title="<%= graph[:graphite][:title] %>" data-content="<%= graph[:graphite][:description] %>">
                <% else %>
                    <img src='<%= [@top_level[@params[:category]].graphite_render, graph[:graphite][:url]].join "?" %>'>
                <% end %>
            <% end %>
            </td>
        <% end %>
        </tr>
    <% row += 1 %>
    <% end %>
    </table>
</div>
<script>
    $(function () {
      $("img[rel=popover-above]")
        .popover({
          placement: 'above', delayIn: 1000
        })
        .click(function(e) {
          e.preventDefault()
        })
    })

    $(function () {
      $("img[rel=popover-below]")
        .popover({
          placement: 'below', delayIn: 1000
        })
        .click(function(e) {
          e.preventDefault()
        })
    })
</script>
<% end %>
