<% unless @error %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
<%= erb :_interval_filter, :layout => false unless @interval_filters.empty? %>
<div class="row" style="text-align: right"><small>Source: <a class="muted" href="<%=@dashboard.graphite_render.sub("/render","")%>"><%=@dashboard.graphite_render.sub("/render","")%></a></small></h2></div>
<div class="row">
  <% span="span#{12/@graph_columns}" %>
  <% @graph_columns.times do |column| %>
      <div class="row <%=span%>">
      <% @graphs.each_with_index do |graph,i| %>
        <% if graph and i%@graph_columns==column%>
          <%= erb(:graph, :locals => { :graph => graph }) %>
        <% end %>
      <% end %>
      </div>
  <% end %>
</div>
<script>
    $(function () {
      $(".graph img")
        .popover({
          placement: "bottom", delay: 1000
        })
    })
</script>
<% end %>
