<% unless @error %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
<%= erb :_interval_filter, :layout => false unless @interval_filters.empty? %>
<div class="row">
  <div class="span12">
    <ul class="thumbnails">
    <% @dashboard.graphs.each do |graph| %>
      <li class="graph span6">
        <a href='<%= [@prefix, params[:category], @params[:dash], 'details', graph[:name]].join "/" %>'>
        <img class="thumbnail" src='<%= [@top_level[@params[:category]].graphite_render, graph[:graphite][:url]].join "?" %>' title="<%= graph[:graphite][:title] %>" data-content="<%= graph[:graphite][:description] %>"></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<script>
    $(function () {
      $(".graph img")
        .popover({
          placement: "bottom", delay: 1000
        })
    })
</script>
<% end %>
