<% unless @error %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
<div class="row">
  <div class="span12">
    <ul class="thumbnails">
    <% @graphs.each do |graph| %>
      <li class="graph span6">
        <img class="thumbnail" src='<%= [@top_level[@params[:category]].graphite_render, graph[:url]].join "?" %>' title="<%= graph[:title] %>" data-content="<%= graph[:description] %>">
      </li>
    <% end %>
    </ul>
  </div>
</div>
<script>
    $(function () {
      $(".graph img")
        .popover({
          placement: "bottom", delay: 1000
        })
    })
</script>
<% end %>
