<html>
<head>
    <script src="<%= @prefix %>/js/jquery-1.8.2.min.js"></script>
    <script language=Javascript>
window.print();
ClosePrint();
function ClosePrint( )
{
setTimeout("window.close();",1000);
}
    </script>
</head>
<% if @error %>
   <h2><%= @error %></h2>
<% else %>
<body bgcolor="white">
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>

<table width="100%" height="100%">
    <% @dashboard.graphs.in_groups_of(@graph_columns) do |graphs| %>
        <tr>
        <% graphs.each do |graph| %>
            <td valign="middle" align="center">
            <% if graph %>
                <img src='<%= [@top_level[@params[:category]].graphite_render, graph[:graphite][:url]].join "?" %>'>
            <% end %>
            </td>
        <% end %>
        </tr>
    <% end %>
</table>
<script>
    $(document).ready(function() {
        setInterval(reloadDash, <%= @refresh_rate * 1000 %>);
    });
    function reloadDash() {
        var now = new Date();
        $('img').each(function(index) {
            var url = $(this).attr('src').replace(/&\d+$/, '');
            $(this).attr('src', url + '&' + now.getTime());
        });
    }
</script>
</body>
<% end %>
</html>
