<html>
<head>
    <script src="<%= @prefix %>/js/jquery-1.8.2.min.js"></script>
    <script language=Javascript>
window.print();
ClosePrint();
function ClosePrint( )
{
setTimeout("window.close();",1000);
}
    </script>
</head>
<body bgcolor="white">
<% if @error %>
   <h2><%= @error %></h2>
<% else %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
<div class="row">
    <table>
        <% row = 1 %>
        <% @graphs.in_groups_of(@graph_columns) do |graphrows| %>
          <tr>
          <% graphrows.each do |graph| %>
            <td>
            <% if graph %>
                <% if graph[:description] %>
                    <img src='<%= [@top_level[@params[:category]].graphite_render, graph[:url]].join "?" %>' rel="<%= row == 1 ? 'popover-below' : 'popover-above' %>" title="<%= graph[:title] %>" data-content="<%= graph[:description] %>">
                <% else %>
                    <img src='<%= [@top_level[@params[:category]].graphite_render, graph[:url]].join "?" %>'>
                <% end %>
            <% end %>
            </td>
          <% end %>
	  </tr>
          <% row += 1 %>
        <% end %>
    </table>
</div>
<% end %>
</body>
</html>

