<html>
<head>
    <script src="<%= @prefix %>/js/jquery-1.7.2.min.js"></script>
    <script language=Javascript>
window.print();
ClosePrint();
function ClosePrint( )
{
setTimeout("window.close();",1000);
}
    </script>
</head>
<body bgcolor="white">
<% if @error %>
   <h2><%= @error %></h2>
<% else %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
<% span=12/@graph_columns %>
<div class="row">
<% @graphs.each_with_index do |graph,i| %>
  <% if graph %>
    <% if i>0 and i%@graph_columns==0 %>
       </div>
       <div class="row">
    <%end%>
        <div align=center class="span<%=span%>" >
          <%= erb(:graph, :locals => { :graph => graph, :omit_link => true }) %>
        </div>
  <% end %>
<% end %>
</div>
<% end %>
</body>
</html>

